.button {
	position: relative;
	display: inline-flex;
	flex-shrink: 0;
	justify-content: center;
	overflow: hidden;
	border-radius: vc(5);
	padding: vc(12) vc(32);
	font-weight: 500;
	font-size: vc(18);
	line-height: vc(26);
	text-align: center;
	transition-property: color, background-color;
	transition-duration: $transition-duration;
	transition-timing-function: $transition-timing-function;
	cursor: pointer;

	&__primary {
		color: $color-white;
		background-color: $color-primary-500;

		&:hover {
			color: $color-primary-500;
			background-color: $color-white;
		}
	}

	&__white {
		color: $color-primary-500;
		background-color: $color-white;

		&:hover {
			color: $color-white;
			background-color: $color-primary-500;
		}
	}

	&__grey {
		color: $color-white;
		background-color: $color-gray-100;

		&:hover {
			color: $color-white;
			background-color: $color-primary-500;
		}
	}
}
