.tabs.no-transition-global(data-tabs='parent', data-delay='200')
	.tabs__controls(data-tabs='controls')
		button.tabs__control.h6.is-active(type='button', data-tabs='control') Характеристики
		button.tabs__control.h6(type='button', data-tabs='control') Описание
	.tabs__content(data-tabs='content')
		.tabs__element(data-tabs='element')
			.product__options
				each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
					.product__option
						p Категория
						p Опора подвижная хомутовая
		.tabs__element(data-tabs='element')
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, perspiciatis! Ab pariatur dolor alias debitis molestiae reprehenderit tempora ducimus, atque amet inventore illum ullam laboriosam totam vel error dicta et. Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, perspiciatis! Ab pariatur dolor alias debitis molestiae reprehenderit tempora ducimus, atque amet inventore illum ullam laboriosam totam vel error dicta et.Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, perspiciatis! Ab pariatur dolor alias debitis molestiae reprehenderit tempora ducimus, atque amet inventore illum ullam laboriosam totam vel error dicta et. Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, perspiciatis! Ab pariatur dolor alias debitis molestiae reprehenderit tempora ducimus, atque amet inventore illum ullam laboriosam totam vel error dicta et.
