.field-num {
	$block-name: &; // #{$block-name}__element

	position: relative;
	display: block;
	background-color: $color-white;

	&__input {
		appearance: none;
		margin: 0;
		border: 1px solid $color-gray-100;
		border-radius: vc(5);
		padding: 0 vc(40);
		width: vc(155);
		height: vc(50);
		text-align: center;

		@include mobile {
			width: vc(100);
		}
	}

	&__btn {
		position: absolute;
		top: 1px;
		bottom: 1px;
		border: none;
		padding: 0;
		width: vc(40);
		font: 0/0 a; // stylelint-disable-line
		color: transparent;
		background: transparent;

		&:hover,
		&:focus {
			// background-color: $gray-lightest;
			cursor: pointer;
		}

		&:focus {
			outline: none;
		}

		&--plus {
			right: 1px;
			border-left: 1px solid $color-gray-100;
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 357 357'%3E%3Cpath d='M357 204H204v153h-51V204H0v-51h153V0h51v153h153v51z'/%3E%3C/svg%3E") center no-repeat;
			background-size: vc(14) vc(14);
		}

		&--minus {
			left: 1px;
			border-right: 1px solid $color-gray-100;
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 357 357'%3E%3Cpath d='M357 204H0v-51h357v51z'/%3E%3C/svg%3E") center no-repeat;
			background-size: vc(14) vc(14);
		}

		#{$block-name}--disabled & {
			cursor: not-allowed;

			&:hover,
			&:focus {
				background-color: transparent;
			}
		}

		@include mobile {
			width: vc(30);
		}
	}

	&--error {
		#{$block-name}__name,
		#{$block-name}__input,
		#{$block-name}__help-text {
			color: $color-primary-600;
		}

		#{$block-name}__input {
			border-color: $color-primary-600;
			background-color: lighten($color-primary-600, 35%);
		}
	}
}
