section.hero
	.container
		.swiper
			.swiper-wrapper
				.swiper-slide
					+picture({
						path: `${baseDir}assets/images/hero-1`,
						ext: 'jpg',
					})
				.swiper-slide
					+picture({
						path: `${baseDir}assets/images/hero-1`,
						ext: 'jpg',
					})
			.swiper-pagination
