.hero {
	position: relative;
	margin-top: vc(210);
	padding-bottom: 0;

	.swiper {
		&-slide {
			overflow: hidden;
			border-radius: vc(10);

			picture {
				height: vc(600);

				img {
					height: 100%;
				}

				@include devices {
					height: vc(600);
				}
			}
		}

		&-pagination-bullet {
			background: $color-white;

			&-active {
				background: $color-primary-500;
			}
		}
	}

	@include devices {
		margin-top: vc(70);
		padding-top: vc(30);
	}
}
