.page {
	main {
		padding-top: vc(210);

		@include devices {
			padding-top: vc(70);
		}
	}

	&__blank {
		h1 {
			margin-bottom: vc(30);
		}

		ul,
		ol {
			margin-bottom: vc(24);
			margin-left: vc(20);

			li {
				display: list-item;
				list-style: initial;
				font-weight: 300;
				font-size: vc(16);
				line-height: vc(24);
			}
		}

		ol li {
			list-style: decimal;
		}

		p {
			&:not(:last-of-type) {
				margin-bottom: vc(24);
			}
		}
	}
}
