section.home__about
	.container
		.home__about-row
			.home__about-text
				h2 О компании
				p Lorem ipsum dolor sit amet consectetur. Vivamus leo eu in velit vel malesuada commodo egestas. Vitae blandit pellentesque feugiat diam diam ut tincidunt. In condimentum sed mi sit fusce facilisi. Tempus magnis fringilla tortor amet viverra at. Id dolor ac aliquam viverra commodo. Rhoncus venenatis lacus enim suspendisse feugiat sem. Arcu pellentesque faucibus hendrerit turpis cursus. Eget in dui vitae est dignissim rutrum.
				p Enim sed volutpat dolor vitae sit pellentesque turpis sit. Arcu ac interdum egestas pellentesque. Quam congue at risus aliquet leo at in nibh. Feugiat id lacus duis ultrices et congue sollicitudin. Sociis imperdiet nibh ut malesuada ullamcorper. Nulla convallis in sed lectus et at est urna faucibus. Auctor ultrices nec elit porta dictum. Vel neque pellentesque condimentum mauris amet amet in at elit.
				p Volutpat pharetra bibendum risus phasellus. Proin quam egestas laoreet quam cursus elit. Gravida integer facilisis ipsum cursus non aliquam at. Phasellus diam malesuada tellus id vestibulum nibh quis lobortis magna. Sed velit semper sit bibendum sed ac. Lectus netus auctor laoreet adipiscing neque. Maecenas urna amet vitae sagittis vitae maecenas. Non vestibulum montes dictum dolor. Condimentum volutpat phasellus ac id tempor posuere risus sed. Duis et nisi diam in. Sapien urna sagittis in sed.
			.home__about-images
				+picture({
					path: `${baseDir}assets/images/home/about-1`,
					ext: 'png',
				}).home__about-img.home__about-img--1
				+picture({
					path: `${baseDir}assets/images/home/about-2`,
					ext: 'png',
				}).home__about-img.home__about-img--2
