extends @pug/base

append globals
	- pageName = 'categories'

append vars

block content
	.bg-overflow.is-hidden
	.site.page
		include @components/header/header
		main
			section.page__blank
				.container
					h1 Заголовок страницы
					p Lorem ipsum dolor sit amet consectetur. Adipiscing at integer ut habitant ornare ultricies non vitae felis. Quam tincidunt nibh donec quis nulla morbi morbi nisi. Libero sed amet odio egestas. Malesuada curabitur augue non facilisis volutpat velit magna. Ornare consectetur sed consequat neque. Arcu sed mi sed auctor in vestibulum quis montes. Diam laoreet eu id morbi condimentum. Urna tellus purus accumsan gravida volutpat morbi neque. Ornare arcu tincidunt quisque fames magna donec ipsum non quisque. Nibh enim iaculis at mi egestas scelerisque vulputate. Volutpat odio cras in est. Adipiscing dictum elit velit cras dolor ultrices varius convallis.
					p Vitae id interdum enim integer id. Commodo massa nam id purus in integer velit. Tincidunt vitae est amet nunc aliquam nibh. Ac sed ipsum habitant amet urna proin nunc in. Rhoncus commodo eget habitasse duis cras vitae sit. Nunc gravida sodales id nascetur cras posuere sed dignissim.
					p Blandit ullamcorper habitasse volutpat aliquam mattis cursus sagittis vel nisl. Posuere massa arcu neque neque mollis. Tincidunt tincidunt odio enim mi tempus nunc elit aliquet. Ultrices aliquam purus in in eu a. Pulvinar at et ut imperdiet pellentesque. Tincidunt velit ipsum ut morbi quis purus ullamcorper. Aliquet ac vulputate sed sed fusce ut vestibulum lorem et. Purus aliquet at pretium ut felis viverra scelerisque. Morbi ac varius odio integer ornare porta sed dictum leo. Mi malesuada dui ac at semper. At sed justo tempus tincidunt aliquam sit. Suspendisse pellentesque amet mi nunc sit magna tortor.
					p Sed semper ultricies phasellus vulputate vulputate elementum eget. Quam purus bibendum fermentum nec tincidunt enim varius. Adipiscing convallis in vel eu. Cursus consequat in volutpat semper leo. Viverra interdum sit vitae in.
					p Sed vel habitant lectus vitae diam. Sed amet mi pulvinar mollis pulvinar amet leo tincidunt. Turpis pretium tellus odio facilisi lacus vestibulum. Est et quis odio vitae. Malesuada ut nunc egestas et consectetur malesuada. Adipiscing adipiscing dui lorem faucibus ultrices mauris rhoncus interdum magna.
					p Elit tortor enim posuere purus. Lacus iaculis est molestie gravida quis laoreet odio amet. Dui eget pharetra magna sollicitudin enim dolor. Purus cursus sed non lectus. Tristique lacus vulputate aliquam turpis massa cras sapien posuere. Neque et et sed erat pretium odio condimentum. Porttitor massa ultrices augue cras vitae placerat quam. Id integer tincidunt mauris sociis vehicula ullamcorper consectetur lacus.
					p Lectus id est felis praesent. Hendrerit diam viverra viverra accumsan. Eleifend fames scelerisque massa feugiat enim tellus scelerisque risus curabitur. Sed semper sit libero convallis. Nunc nibh vestibulum integer lectus proin a interdum quisque gravida. Blandit consequat lectus semper amet quis euismod adipiscing pulvinar vivamus. Orci ridiculus aliquam penatibus sed. Aliquam viverra non vitae eget ac orci platea. Pretium fringilla ipsum nec platea purus lacus a. Nec eget sed faucibus sed sollicitudin congue nunc aliquet nunc. Pharetra odio lectus orci tempus risus. Parturient in scelerisque pellentesque suscipit sagittis nec feugiat dis integer. Aliquam dolor a eget at porta aliquet id enim erat. Tempor congue tincidunt laoreet eget pellentesque sagittis id. Nunc cursus vestibulum nunc dui enim scelerisque tristique.
					p Est nisl vitae vulputate aliquam neque quis luctus faucibus. Fusce potenti ut ullamcorper a quis parturient dolor risus auctor. Purus nunc neque odio id in pellentesque cras egestas proin. Bibendum in commodo viverra cursus accumsan vulputate ultrices pellentesque proin. Lectus at mattis risus leo lorem porttitor semper.


		include @components/footer/footer
		include @components/analytics/analytics
