.commodity
	h1 Популярные товары
	.commodity__cards
		+commodity-card()
		+commodity-card()
		+commodity-card()
		+commodity-card()
		+commodity-card()
		+commodity-card()
		+commodity-card()
		+commodity-card()
