extends @pug/base

append globals
	- pageName = 'home'

append vars

block content
	.bg-overflow.is-hidden
	.site.home
		include @components/header/header
		main
			include @components/hero/hero
			section.category
				.container
					.category__row
						each val in [1, 2, 3, 4, 5, 6]
							.category__item
								.category__item-img
									+picture({
										path: `${baseDir}assets/images/hero-1`,
										ext: 'jpg',
									})
								.category__item-info
									.category__item-title Название категории
									.category__item-button
										a.button.button__primary(href="#") В каталог
			section.home__commodity
				.container
					h2 Популярные товары
					.home__commodity-row
						each val in [1, 2, 3, 4, 5, 6, 7, 8]
							+commodity()
			include @components/request/request
			+slider-partners()
			include @pages/home/about

		include @components/footer/footer
