extends @pug/base

append globals
	- pageName = 'home'

append vars

block content
	.bg-overflow.is-hidden
	.site.home
		include @components/header/header
		main
			include @components/hero/hero
			include @components/category/category


		include @components/footer/footer
		include @components/analytics/analytics
