.checkbox {
	&-radio {
		position: absolute;
		z-index: -1;
		opacity: 0;

		+ label {
			position: relative;
			display: inline-flex;
			flex-shrink: 0;
			justify-content: center;
			overflow: hidden;
			border: vc(1.5) solid $color-primary-500;
			border-radius: vc(5);
			padding: vc(12) vc(32);
			width: 100%;
			font-weight: 500;
			font-size: vc(18);
			color: $color-primary-500;
			line-height: vc(26);
			text-align: center;
			transition-property: color, background-color;
			transition-duration: $transition-duration;
			transition-timing-function: $transition-timing-function;
			cursor: pointer;

			&:hover {
				color: $color-white;
				background-color: $color-primary-500;
			}
		}

		&:checked + label {
			color: $color-white;
			background-color: $color-primary-500;
		}

		&:disabled + label::before {
			background-color: $color-primary-200;
		}
	}
}
