.contact-box
	.contact-box__item
		a.contact-box__title(href="mailto:info@мотошара.рф")
			+svg('icon-email').contact-box__icon
			| info@мотошара.рф
		.contact-box__bottom
			a(href="mailto:zakaz@cartrac.ru") Написать нам
	.contact-box__item
		a.contact-box__title(href="tel:+7(999) 123-45-67")
			+svg("icon-phone").contact-box__icon
			| +7(999) 123-45-67
		.contact-box__bottom
			p c 10.00 до 22.00
