.products {
	h1 {
		margin-bottom: vc(30);
	}

	&__row {
		display: grid;
		grid-template-columns: vc(312) 1fr;
		margin-top: vc(30);
		gap: vc(24);

		@include devices {
			grid-template-columns: 1fr;
		}
	}

	&__results {
		display: flex;
		flex-direction: column;
		gap: vc(24);

		&-items {
			display: grid;
			grid-template-columns: 1fr;
			gap: vc(24);
		}
	}

	&__filters {
		display: flex;
		flex-direction: column;

		&-title {
			display: flex;
			border-top: 1px solid #d0d0d0;
			border-bottom: 1px solid #d0d0d0;
			padding: vc(20) vc(30);
			gap: vc(20);

			svg {
				width: vc(20);
				height: vc(20);
			}
		}

		&-buttons {
			display: flex;
			margin-top: vc(20);
			gap: vc(12);
		}
	}

	&__select {
		appearance: none;
		outline: none;
		border-top: none;
		border-right: none;
		border-bottom: 1px solid #d0d0d0;
		border-left: none;
		border-radius: 0;
		padding: vc(20) vc(30);
		width: 100%;
		font-weight: 500;
		font-size: vc(16);
	}
}
